<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-tabs/paper-tab.html">

<dom-module id="tab-element">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-tab{
        color:#FFF;
        width:40%;
      }
      paper-tabs{
        background-color:#9479BB;
      }
    </style>
    <paper-tabs selected="0" scrollable>
      <paper-tab on-click="eventTab">New</paper-tab>
      <paper-tab on-click="eventTab">List1</paper-tab>
      <paper-tab on-click="eventTab">List2</paper-tab>
    </paper-tabs>
  </template>

  <script>
    /**
     * `tab-element`
     * element tab
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TabElement extends Polymer.Element {
      static get is() { return 'tab-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tab-element'
          }
        };
      }
      eventTab(e){
        // console.log(e.currentTarget.innerHTML)
        this.dispatchEvent(
        new CustomEvent('click-tab',{
          detail:e.currentTarget.innerHTML
        }))
      }
    }

    window.customElements.define(TabElement.is, TabElement);
  </script>
</dom-module>
